# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Mail Configuration
MAIL_USERNAME=
MAIL_PASSWORD=

# ML Service Configuration
ML_API_URL=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# Security Configuration
JWT_SECRET=

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# AWS Configuration
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# Queue Configuration
NOTIFICATION_QUEUE=
